<h1 class="text-center hidden-xs">Real Time Chat</h1>
<h3 class="text-center visible-xs ">Real Time Chat</h3>
<hr>
<!-- panel-default -->
<div class="panel panel-default chat">
  <div class="panel-body">

    <div class="row">

      <!-- users -->
      <div class="col-md-3"  >
  
        <!-- check if users -->
        <div *ngIf="users" class="users" >

          <!-- for loop users -->
          <div *ngFor="let user of users" >
            <!-- 
              onclick check if caller == user
              if caller if user
              clearCaller
              else
              set this user in caller
              and set class success remove default

              if click anther btn 
              set anther user in caller
              set class default remove success
              
             -->
            <button 
              [ngClass]=
              "{
                'btn-success' : user._id == caller?._id, 
                'btn-default' : user._id != caller?._id  
              }"
              class="btn  center-block user" 
              title='{{user.email}}' 
              (click)='user._id == caller?._id ? clearCaller() : call(user)'
            >
              {{user.name}}
           
              <!-- if user online -->
              <span *ngIf="user.online" style="margin-left:5px" class="glyphicon glyphicon-send text-success"></span>
              <span *ngIf="!user.online" style="margin-left:5px"  class="glyphicon glyphicon-send"></span>
            </button>
          </div>
        </div>

        <!-- check if users -->
        <div *ngIf="!users.length" >
          <button class="btn btn-success center-block user">No  Users</button>
        </div>

      </div>
      <!-- end users -->

      <br>

      <!-- message body -->
      <div class="col-md-9 panel-body" *ngIf='caller'>

        <!-- messages -->
        <!-- scroll to end this div -->
        <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let message of messages" >
              <!-- message.user._id == _id  -> this user if owner this msg -->
            <p 
              class="lead msg "
              [ngClass]="{
                'me' : message.user._id == _id 
              }"
              (click)='message.showDate = !message.showDate'
            >
              {{message.content}}
              <br>
              <!-- 
                use undefind proparty to hide date
                on click convert this proparty 
              -->
              <span class="date"  [hidden]='!message.showDate'>
                  {{message.created | date:'medium'}}
              </span>
            </p>
            
            
          </div>
        </div>
        <!-- end messages -->

        <br>
        
        <!-- form sent message -->
        <form method="post" (submit)='content.value ? sent(content.value) : false; content.value=""; '>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Message...." #content >
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">Sent</button>
            </div>
          </div>
        </form>
        <!-- end form sent message -->

      </div>
      <!-- end message body -->

    </div>
  </div>

<!-- panel-default -->
</div> 
