<h1 class="text-center hidden-xs">Real Time Chat</h1>
<h3 class="text-center visible-xs ">Real Time Chat</h3>

<hr>

<div class="panel panel-default">
  <div class="panel-heading" >
      <h3 class="panel-title text-center hidden-xs"   > {{ caller?.name  || "No Call" }} </h3>
      <h5 class="panel-title text-center visible-xs"  > {{ caller?.name || "No Call" }} </h5>
  </div>
  <div class="panel-body">

    <div class="row">

        <!-- users -->
        <div class="col-md-3" id="users">

            <a class="btn btn-primary center-block hvr-buzz-out user" (click)='newConnect()'>
              Refresh Users
              <i class="fa fa-refresh" style="margin-left:5px;color:#77b300"></i>
            </a>

            <div *ngFor="let user of users">
              <a 
                [ngClass]=
                "{
                  'btn-success' : user._id == caller?._id, 
                  'btn-default' : user._id != caller?._id  
                }"
                class="btn  center-block user hvr-buzz-out " 
                title='{{user.name}}' 
                (click)='user._id == caller?._id ? clearCaller() : call(user);'
              >
                {{user.name}}
          
                <!-- if user online -->
                <span *ngIf="user.online" style="margin-left:5px" class="glyphicon glyphicon-send text-success"></span>
                <span *ngIf="!user.online" style="margin-left:5px"  class="glyphicon glyphicon-send"></span>
              </a>

            </div>

        </div>
        <!-- users -->
        
        <div class="col-md-9" id='messages' >
          <!-- row -->
          <div class="row">
            <!-- parent messages -->
            <div class="col-md-12" id='parent-messages'  #scrollMe [scrollTop]="scrollMe.scrollHeight">    
                <!-- messages loop -->
                <div *ngFor="let message of messages">

                  <!-- me -->
                  <div *ngIf="message.user._id == _id"  class="me col-md-9 col-md-offset-3">
                    <div class="msg">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-2 visible-xs">
                              <img [src]=[message.user.image]  class="img-msg img-responsive" alt="Image">
                            </div>

                            <div class="col-md-10 text-right content">
                              {{message.content}}
                            </div>

                            <div class="col-md-2 hidden-xs">
                              <img [src]=[message.user.image]  class="img-msg img-responsive" alt="Image">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left date"  >
                              {{message.created | timeAgo}}
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <div class="crop"></div>
                  </div>
                  <!-- me  -->


                  <!-- other -->
                  <div *ngIf="message.user._id != _id"  class="other col-md-9">
                    <div class="msg">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-2">
                              <img [src]=[message.user.image]  class="img-msg img-responsive" alt="Image">
                            </div>
                            <div class="col-md-10">
                              {{message.content}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right date" >
                              {{message.created | timeAgo}}
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <div class="crop"></div>
                  </div>
                  <!-- other -->


                </div>
                <!-- messages loop -->
            </div>
            <!-- parent messages -->
            
            <!-- sent message -->
            <div class="col-md-12" id="sent-message">
              <!-- form -->
              <form method="post" (submit)='sent()'>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Message...." #inputContent >
                  <div class="input-group-btn">
                    <button class="btn btn-primary " type="submit">Sent</button>
                  </div>
                </div>
              </form>
              <!-- form -->
            </div>
            <!-- sent message -->

          </div>
          <!-- row -->
        </div>
    </div>

  </div>
</div>
