<h1 class="text-center hidden-xs">Real Time Chat</h1>
<h3 class="text-center visible-xs ">Real Time Chat</h3>
<hr>

<!-- panel-default -->
<div class="panel panel-default chat">
  <div class="panel-body">

    <div class="row">

      <!-- users block-->
      <div class="col-md-3"  >
       
        <!-- check users btn -->
        <div  class="users" >
          

        <!-- check if not users to display no users -->
        <div>
          
          <a class="btn btn-primary center-block hvr-buzz-out user" (click)='newConnect()'>
            Refresh Users
            <i class="fa fa-refresh" style="margin-left:5px;color:#77b300"></i>
          </a>

          <a *ngIf='!users.length' class="btn btn-danger center-block hvr-buzz-out user">
            No Users
          </a>
          
        </div>
        <!-- end check users btn  -->
        

          <!-- for loop users -->
          <div *ngFor="let user of users" >
            
            <!-- 
              onclick check if caller == user
              if caller if user
              clearCaller
              else
              set this user in caller
              and set class success remove default

              if click anther btn 
              set anther user in caller
              set class default remove success
              
             -->
            <a 
              [ngClass]=
              "{
                'btn-success' : user._id == caller?._id, 
                'btn-default' : user._id != caller?._id  
              }"
              class="btn  center-block user hvr-buzz-out " 
              title='{{user.name}}' 
              (click)='user._id == caller?._id ? clearCaller() : call(user);'
            >
              {{user.name}}
           
              <!-- if user online -->
              <span *ngIf="user.online" style="margin-left:5px" class="glyphicon glyphicon-send text-success"></span>
              <span *ngIf="!user.online" style="margin-left:5px"  class="glyphicon glyphicon-send"></span>
            </a>

          </div>
          <!-- end for loop users -->

        </div>
        <!-- end check if users to display users  -->

      </div>
      <!-- end users block -->
      

      

      <!-- message body block -->
      <div class="col-md-9 panel-body"   [hidden]='!caller'>

        <!-- messages -->
        <div class="messages"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let message of messages" >
            

            <!-- start msg parent -->
            <div class="msg-parent"
              [ngClass]="{
                'me' : message.user._id == _id 
              }"
            >
              <!-- message.user._id == _id  -> this user if owner this msg -->
              <p class="msg ">

                {{message.content}}

                <br>

                <span class="date" >
                    {{message.created | timeAgo}}
                </span>
              </p>
              <p class="crop"></p>
            </div>
            <!-- end start msg parent -->


          </div>
        </div>
        <!-- end messages -->

        <br>
        
        <!-- form sent message -->
        <form method="post" (submit)='inputContent.value.trim() ? sent(inputContent.value) : false; inputContent.value=""; inputContent.focus();'>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Message...." #inputContent >
            <div class="input-group-btn">
              <button class="btn btn-primary " type="s)ubmit">Sent</button>
            </div>
          </div>
        </form>
        <!-- end form sent message -->

      </div>
      <!-- end message body block -->

    </div>
  </div>

</div> 
<!-- panel-default -->

