
<!-- show error in signup -->
<div *ngIf="ErrorAlert"  class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error</strong> Pleace Ckeck Your Date ... 
</div>

<form  role="form" [formGroup]='myform' (submit)='onSubmit()'>
  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.name.invalid && myform.controls.name.touched ,
      "has-success" : myform.controls.name.valid
      }'
  >
    <label for="" class="control-label">Name</label>
    <input 
      type="text" 
      class="form-control" 
      placeholder="name"
      formControlName='name'
      required   
    >
    <!-- danger message -->
    <small *ngIf="myform.controls.name.invalid && myform.controls.name.touched"  class="text-danger"> Must be 5-30 characters long</small>  
  </div>




  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required , email] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.email.invalid && myform.controls.email.touched ,
      "has-success" : myform.controls.email.valid
      }'
  >    
    <label for="" class="control-label">Email</label>
    <input 
      type="email" 
      class="form-control" 
      placeholder="Email"
      formControlName='email'
      required   
      email
    >
    <!-- danger message -->
    <small *ngIf="myform.controls.email.invalid && myform.controls.email.touched"  class="text-danger"> Must be Email</small> 
  </div>

  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.password.invalid && myform.controls.password.touched ,
      "has-success" : myform.controls.password.valid
      }'
  >
    
    <label for="" class="control-label">Password</label>
    <input 
      type="password" 
      class="form-control" 
      placeholder="Password"
      formControlName='password'
      required
    >
    <!-- danger message -->
    <small *ngIf="myform.controls.password.invalid && myform.controls.password.touched"  class="text-danger"> Must be 8-30 characters long</small> 
  </div>

  <button type="submit" [disabled]='myform.invalid'   class=" hvr-buzz-out  btn btn-primary" style="padding:10px">Signup</button>
  <a  (click)='facebookSigninOrSignup()'  class=" hvr-buzz-out  btn  btn-social  btn-facebook" style="margin-left:20px">  <span class="fa fa-facebook"></span>facebook</a>

</form>
