
<form  role="form" [formGroup]='myform' (submit)='onSubmit()'>
  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.name.invalid && myform.controls.name.touched ,
      "has-success" : myform.controls.name.valid
      }'
  >
    <label for="" class="control-label">Name</label>
    <input 
      type="text" 
      class="form-control" 
      placeholder="name"
      formControlName='name'
      required   
    >
  </div>
  
  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required , email] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.email.invalid && myform.controls.email.touched ,
      "has-success" : myform.controls.email.valid
      }'
  >    
    <label for="">Email</label>
    <input 
      type="text" 
      class="form-control" 
      placeholder="Email"
      formControlName='email'
      required   
      email>
  </div>

  <!-- 
    set class error if formControlName us invalid
    set class success if formControlName us valid

    Validator [required] in html only
  -->
  <div 
    class="form-group has-feedback" 
    [ngClass]='{
      "has-error" : myform.controls.password.invalid && myform.controls.password.touched ,
      "has-success" : myform.controls.password.valid
      }'
  >
    
    <label for="">Password</label>
    <input 
      type="password" 
      class="form-control" 
      placeholder="Password"
      formControlName='password'
      required>
  </div>

  <button type="submit" [disabled]='myform.invalid'   class="btn btn-primary">Submit</button>
</form>
