.panel-body .list-group-item{
    margin-bottom: 10px;
}

.panel-body .edit-btn{
    padding:0 15px;
}

.panel-body .edit-input{
    margin-left: 10px;
    padding: 0 0;
    padding-left: 3px;
    margin: 0;
    width:50%
}

.panel-body strong{
    margin-right: 10px;
}

@media (max-width:600px)  { 
    .panel-body .edit-btn{
       margin-top: 7px;
    }
    .error{
        display: block;
        margin-top: 7px;
    }
}
