
<div class="alert alert-success" *ngIf="alert == 'success'" >
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Success</strong>Place ckeck Your Email to change Your password
</div>

<div class="alert alert-danger" *ngIf="alert == 'danger'">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error</strong> this Email don`t registered
</div>

<form  role="form" [formGroup]='myform' (submit)='onSubmit()'>
    <div class="form-group has-feedback" 
      [ngClass]="{
        'has-error' : myform.controls.email.invalid && myform.controls.email.touched ,
        'has-success' : myform.controls.email.valid
      }" 
    >
      <label for="" class="control-label">Email</label>
      <input 
        type="email" 
        class="form-control" 
        placeholder="Email"
        formControlName='email'
      >
      <small *ngIf="myform.controls.email.invalid && myform.controls.email.touched"  class="text-danger"> Must be Email</small>  
    </div>
  
    <!-- 
      submit is disabled if form invalid
    -->
  
    <button type="submit" [disabled]='myform.invalid'  class=" hvr-buzz-out  btn btn-primary" style="padding:10px"> Get password </button>
  
  </form>
  