
<div class="alert alert-success" *ngIf="alert == 'success'" >
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Success</strong> you are change your password
</div>

<div class="alert alert-danger" *ngIf="alert == 'danger'">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error</strong> Your url is bad 
</div>


<form  role="form" [formGroup]='myform' (submit)='onSubmit()'>
    <div class="form-group has-feedback" 
      [ngClass]="{
        'has-error' : myform.controls.password.invalid && myform.controls.password.touched ,
        'has-success' : myform.controls.password.valid
      }" 
    >
      <label for="" class="control-label">Password</label>
      <input 
        type="password" 
        class="form-control" 
        placeholder="Password"
        formControlName='password'
      >
      <small *ngIf="myform.controls.password.invalid && myform.controls.password.touched"  class="text-danger"> Must be 8-30 characters long </small>  
    </div>
  
    <!-- 
      submit is disabled if form invalid
    -->
  
    <button type="submit" [disabled]='myform.invalid'  class=" hvr-buzz-out  btn btn-primary" style="padding:10px"> change password </button>
  
  </form>
  