#input-tweet{
    padding: 20px 10px;
}

.counter{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    padding-top: 5px;
}

.form-group {
    margin-bottom: 5px;
}

.img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 10px;
}

.tweet{
    padding: 10px;
    padding-bottom: 15px;
    background: #424242;
    border-radius: 5px;

}


.name{
    font-weight: bold;
    word-break: break-all;
    margin-top: 10px;
    margin-left: -15px;
    
}
.content{
    color: white;
    word-break: break-all;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 4%;
}

.date{
    margin-top: 5px;
}

@media (max-width:600px)  { 
    .img{
        width: 50px;
        height: 50px;
    }
}