
<div id="example1" class="slider-pro">
	<div class="sp-slides">
		<div class="sp-slide">
			<img class="sp-image" [src]="blankImgPath"
				data-src="https://i.imgur.com/NsxNNcX.png"/>
			<p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="sp-slide">
			<img class="sp-image" [src]="blankImgPath"
				data-src="https://i.imgur.com/kUvfawb.png">
			<p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="sp-slide">
			<img class="sp-image" [src]="blankImgPath"
				data-src="https://i.imgur.com/2ibiZ1G.png"/>
			<p class="sp-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

	<!-- 			
	<div class="sp-thumbnails">
		<div class="sp-thumbnail">
			<div class="sp-thumbnail-title">Lorem ipsum</div>
			<div class="sp-thumbnail-description">Dolor sit amet, consectetur adipiscing elit sed</div>
		</div>

		<div class="sp-thumbnail">
			<div class="sp-thumbnail-title">Do eiusmod</div>
			<div class="sp-thumbnail-description">Tempor incididunt ut labore et dolore magna aliqua</div>
		</div>

		<div class="sp-thumbnail">
			<div class="sp-thumbnail-title">Ut enim</div>
			<div class="sp-thumbnail-description">Ad minim veniam, quis nostrud exercitation</div>
		</div>
	</div>
	-->
</div>
